.course
{
    display:inline-table;
    word-wrap: break-word;
    height:300px;
    width:300px;
    text-align:center;
    padding:10px;
    float:none;
}

.course>div
{
    display:table;
    height:100%;
    width:100%;
    border: 4px solid #76b82a;
}


.course>div:hover
{
    background-color:#76b82a;
}

.course span{
    display:table-cell;
    vertical-align: middle;
}

#courses
{
    display:block;
    text-align:center;
    position:relative;
    width:100%;
}

@media screen and (max-width :760px)
{
    .course
    {
        width:100%;
        height:auto;
        display:block;
        padding:0;
        border-bottom:2px solid #76b82a;
    }

    .course>div{
        display:block;
        border:none;
        padding:10px;
    }
}