/*
 Creator: Kainz, Papst
 */
.fullwidth{
  width:100%;
}

.fullheight{
  height:100%;
}

.fullsize
{
  @extend .fullwidth;
  @extend .fullheight;
}

.nospace
{
  margin:0;
  padding:0;
}

.snapToBottom
{
  bottom: 0;
}

.centertext {
  text-align:center;
}
.centered{
  margin-left:auto;
  margin-right:auto;
}

.middle>span, .middle>a{
  display:table-cell;
  vertical-align: middle;
}

.middle>table{
  display:inline-table;
  vertical-align: middle;
}

.middle-block{
  display:table;
  @extend .middle;
}

.middle-inline{
  display:inline-table;
  @extend .middle;
}

.central-block
{
  @extend .middle-block;
  @extend .centertext;
}

.central-inline
{
  @extend .middle-inline;
  @extend .centertext;
}

.floatLeft
{
  float:left;
}

.clearfix:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.window
{
  position:absolute;
  left:50%;
  transform: translateX(-50%)  translateY(-50%);
  top:50%;
  border: 10px solid $color-background-special;
  background-color: $color-background-normal;
  padding:10px;
}

.bodyheight
{
  min-height: unquote("calc(100vh - "+$height-outer+")");
}