@import 'settings';
@import 'basic';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  @extend .fullsize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  @extend .fullsize;
}

header{
  background-color: $color-background-special;
  height: $height-header;
  font-size: $header-font-size;
  @extend .central-block;
  @extend .nospace;
  @extend  .middle-block;
  @extend .fullwidth;
  a{
    text-decoration: none;
    color:$color-background-footer;
  }
}

nav{
  background-color:  $color-background-special;
  input[type=checkbox]{
    display:none;
  }
  input[type=checkbox]:checked ~ #menu{
    display:block;
  }

  ul{
    list-style-type: none;
    @extend .fullsize;
    @extend .clearfix;
    vertical-align: middle;
    border-top:1px solid black;
    li{
      @extend .floatLeft;
      width: 100%/$count-menu-elements;
      @extend .central-inline;
      height: $height-nav-element;
      a{
        min-width: 100%/$count-menu-elements;
        text-decoration: none;
        color:$color-foreground-nav;
      }
    }
    li:hover{
      a{
        background-color:$color-background-normal;
        @extend .fullheight;
      }
    }
    .phonelink
    {
      display:none;
      min-width:0;
      height:0;
      width:0;
    }
  }
  .show-menu{
    text-decoration: none;
    color:$color-foreground-nav;
    @extend .central-block;
    @extend .fullwidth;
    display:none;
    height: $height-nav;
    border-top:1px solid black;
  }
  .show-menu:hover{
    background-color: #c0c0c0;
  }
}
.basicCalendar
{
  background-color:$color-background-special;
  @extend .fullheight;
  >section
  {
    border-bottom:2px solid $color-background-footer;
    h2{
      padding-bottom:4px;
    }
  }
  .assignments
  {

    .assignment
    {
      border-top:1px solid $color-background-footer;
      padding-top:2px;
      padding-bottom:2px;
      span{
        display:block;
      }
    }
  }
}

main{
  position:relative;
  background-color: $color-background-normal;
  @extend .bodyheight;
  #calendar{
    border-top:2px solid $color-background-footer;
    width:300px;
    float:left;
    @extend .clearfix;
    @extend .bodyheight;
    position:absolute;
    @extend .basicCalendar;
  }
  #pages
  {
    height:100%;
    .page
    {
      @extend .fullwidth;
    }
    .withCalendar
    {
      width: unquote("calc(100% - 300px)");
      margin-left:300px;
    }
  }
}


footer{
  color:$color-foreground-footer;
  background-color: $color-background-footer;
  height: $height-footer;
  @extend .snapToBottom;
  @extend .fullwidth;
  @extend .central-block;
}


@media screen and (max-width :$max-width-smartphone){
  nav{
    border-bottom: 1px solid black;
    ul{
      position: static;
      display: none;
      li{
        margin-bottom:1px;
        background-color: $color-background-special;
      }
      li:hover{
        a{
          background-color:$color-background-normal;
          height: 100%;
        }
      }
      .phonelink
      {
        display:inline-table;
        min-width:100%;
        height: $height-nav-element;
        width:100%;
      }
    }
    ul li, li a {
      width: 100%;
    }
    .show-menu{
      display:table;
    }
  }
  header{
    font-size: $header-font-size-smartphone;
  }

  main{
    #calendar {
      display: none;
      width: 0;
      height: 0;
    }
    #pages{
      .withCalendar{
        margin-left:0;
        width:100%;
      }
    }
  }
}

#pages{
  @extend .fullsize;
}

.page {
  @extend .fullsize;
}

#tablet-nav
{
  display:none;
  height:0;
  width:300px;
  position:fixed;
  bottom:100px;
  .phonemenu
  {
    width:100%;
    li{
      @extend .central-block;
      height: $height-nav-element;
      margin-bottom:1px;
      background-color: $color-background-special;
      width:100%;
      a{
        width:100%;
        text-decoration: none;
        color:$color-foreground-nav;
      }
    }
    li:hover{
      background-color:$color-background-normal;
    }
  }
}

.hidden
{
  display:none !important;
}