@import 'settings';
@import 'basic';


.coursepage
{
  position:relative;
  padding-right:200px;
  @extend .central-block;
  display:block;
  h1{
    margin-top:0;
  }
  padding-top: 10px;
  #ulFiles{
    border: 1px solid $color-background-footer;
    li:nth-child(even){
      background-color: $color-background-special;
    }
    li{
      height: 50px;
      vertical-align: middle;
      line-height: 50px;
      border-bottom: 1px solid $color-background-footer;
    }
  }
  #grades{
    position:absolute;
    top:0;
    right:0;
    width:200px;
    background-color:$color-background-special;
    bottom:0;
    @extend .central-block;
    display:block;
    table{
      border-bottom: 1px solid $color-background-footer;
      tr{
        td,th:nth-child(even)
        {
          border-left: 1px solid $color-background-footer;
        }
        th,td{
          text-align:center;
        }
      }
      tr:nth-child(odd){
        border-top:1px solid $color-background-footer;
        border-bottom:1px solid $color-background-footer;
      }
      tr:nth-child(even){
        background-color: $color-background-ass-two;
      }
    }
  }
}

@media screen and (max-width :$max-width-tablet){

  .coursepage{
    padding-right:0;
    text-align:center;
    display:table;
    #grades{
      position:relative;
      width:100%;
      background-color:$color-background-normal;
    }
  }

  .tabletlink
  {
    height: $height-nav-element;
    visibility: visible;
  }
}


@media screen and (max-width: $max-width-smartphone)
{
  .coursepage
  {
    padding-right:0;
  }
  .tabletlink
  {
    visibility:collapse;
  }
}

