/*
 Creator: Kainz, Papst
 */
@import 'settings';
@import 'basic';

#login-window
{
  width:400px;
  @extend .window;
  label{
    @extend .fullwidth;
    @extend .clearfix;
    display:block;
    margin-bottom:10px;
    input{
      float:right;
      width:50%;
    }
  }
  button{
    @extend .fullwidth;
    height:30px;
  }
}

@media screen and (max-width :$max-width-smartphone){
  #login-window{
    width:100%;
    border:none;
    position:relative;
    transform:none;
    top:0;
    left:0;
  }

}