/*
 Creator: Kainz, Papst
 */
@import 'settings';
@import 'basic';



#main
{
  @extend .fullsize;
  position:relative;
  #courses{
    display:inline-block;
    @extend .central-block;
    width:100%;
    .course
    {
      @extend .central-inline;
      word-wrap:break-word;
      height:300px;
      width:300px;
      padding:10px;
      div{
        @extend .central-inline;
        @extend .fullsize;
        border: 4px solid $color-background-special;
        background-color: $color-background-normal;

      }
      div:hover{
        background-color:$color-background-special;
      }
    }
  }


}

@media screen and (max-width :$max-width-smartphone)
{
  #main {
    #courses {
      margin-left:0;
      width:100%;
      .course {
        width: 100%;
        height: auto;
        display: block;
        padding: 0;
        border: none;
        border-bottom: 2px solid $color-background-special;
        span{
          display:block;
        }
        div {
          border: none;
          padding: 10px;
        }
      }
    }
  }

}