/*
 Creator: Kainz, Papst
 */
$color-background-special: #76b82a;
$color-background-normal:  #c0c0c0;
$color-background-footer:  #232323;
$color-background-ass-two: #80D71D;
$color-foreground-footer:white;
$color-foreground-nav:white;
$height-header: 100px;
$header-font-size:5rem;
$header-font-size-smartphone: 3rem;
$height-nav: 50px;
$height-footer: 100px;
$height-outer:$height-nav+$height-header+$height-footer+1;
$height-nav-element : $height-nav;
$count-menu-elements: 2;
$max-width-smartphone: 760px;
$max-width-tablet: 1000px;